<!doctype html>
<html lang="en" class="shale-v1-light shale-v1-webkit-scrollbar">
	<head>
		<meta charset="utf-8">
		<title>logonoff</title>
		<link rel="icon" href="assets/profile/profile.png" type="image/png">
		<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" crossorigin="anonymous" referrerpolicy="no-referrer">
		<link rel="preconnect" href="https://picsum.photos" crossorigin>

		{% comment %} inline site-base.css because it's render blocking and small {% endcomment %}
		{% capture css %}{% include "./_data/site-base.css" %}{% endcapture %}
		<style>{{ css | cssmin }}</style>

		<link rel="stylesheet" href="https://logonoff.co/shalecss/build/shale.css">

		{% comment %} css only required if desktop.js is loaded {% endcomment %}
		<link rel="preload" href="assets/desktop.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

		<link rel="preload" href="assets/aurora.svg" as="image" fetchpriority="high" type="image/svg+xml">
		<meta name="description" content="the internet website of logonoff on the world wide web">
		<meta name="google-site-verification" content="gIfZkEaMyoiVrpRaKjYiThqW7ahq__mzrdLEzzeBl7s">
		<meta name="theme-color" content="#0097A7">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	</head>

	<body>
		{% include "./icons-inline.svg" %}

		<main class="card">
			<section class="aurora-panel">
				{% comment %}
					<div class="left">
						<img class="profile" src="assets/profile/profile.png" alt="profile">
					</div>
				{% endcomment %}
				<div class="right">
					<h1>logonoff</h1>
					<p>Welcome to my humble abode</p>
				</div>
			</section>

			<div class="panel">
				<section><details open>
					<summary class="shale-v1-button shale-v1--secondary"><h2>Socials ({{ site.socials | size }})</h2></summary>
					<ul>
						{% for social in site.socials %}
						<li class="details-component">
							{% comment %} this is SUPER vulnerable to xss but I control everything :3 {% endcomment %}
							<a target="_blank" href="{{ social.url }}" class="shale-v1-button shale-v1--secondary" {{ social.attrs | default: "" }}>
								{% if social.icon %}
									<svg class="icon" aria-hidden="true"><use xlink:href="#icon-{{ social.icon }}"></use></svg>
								{% endif %}

								<div class="text">
									<strong class="title">{{ social.name }}</strong>
									<em>{{ social.text }}</em>
								</div>
							</a>
						</li>
						{% endfor %}
					</ul>
				</details></section>

				<section><details open id="gadgets" data-open-in-window>
					<summary class="shale-v1-button shale-v1--secondary"><h2>Gadgets ({{ site.gadgets | size }})</h2></summary>
					<ul>
						{% for gadget in site.gadgets %}
						<li class="details-component wide">
							{% comment %} this is SUPER vulnerable to xss but I control everything :3 {% endcomment %}
							<a href="{{ gadget.url }}" class="shale-v1-button shale-v1--secondary" {{ gadget.attrs | default: "" }}>
								{% if gadget.icon %}
									<svg class="icon" aria-hidden="true"><use xlink:href="#icon-{{ gadget.icon }}"></use></svg>
								{% endif %}

								<div class="text">
									<strong class="title">{{ gadget.name }}</strong>
									{{ gadget.text }}
								</div>
							</a>
						</li>
						{% endfor %}
					</ul>
				</details></section>

				<section><details open id="projects" data-open-in-window>
					<summary class="shale-v1-button shale-v1--secondary"><h2>Projects ({{ site.projects | size }})</h2></summary>
					<ul>
						{% for projects in site.projects %}
						<li class="details-component">
							{% comment %} this is SUPER vulnerable to xss but I control everything :3 {% endcomment %}
							<a href="{{ projects.url }}" class="shale-v1-button shale-v1--secondary" target="_blank" {{ projects.attrs | default: "" }}>
								{% if project.icon %}
									<svg class="icon" aria-hidden="true"><use xlink:href="#icon-{{ project.icon }}"></use></svg>
								{% endif %}

								<div class="text">
									<strong class="title">{{ projects.name }}</strong>
									{{ projects.text }}
								</div>
							</a>
						</li>
						{% endfor %}
					</ul>
				</details></section>

				<section><details open id="archive" data-open-in-window>
					<summary class="shale-v1-button shale-v1--secondary"><h2>Archive ({{ site.archive | size }})</h2></summary>
					<ul>
						{% for archive in site.archive %}
						<li class="details-component wide">
							{% comment %} this is SUPER vulnerable to xss but I control everything :3 {% endcomment %}
							<a href="{{ archive.url }}" class="shale-v1-button shale-v1--secondary" {{ archive.attrs | default: "" }}>
								{% if archive.icon %}
									<svg class="icon" aria-hidden="true"><use xlink:href="#icon-{{ archive.icon }}"></use></svg>
								{% endif %}
								<div class="text">
									<strong class="title">{{ archive.name }}</strong>
									{{ archive.text }}
								</div>
							</a>
						</li>
						{% endfor %}
					</ul>
				</details></section>
			</div>
		</main>

		<div class="taskbar shale-v1-header shale-v1-header-invert-border" id="taskbar-container">
			<menu id="taskbar" class="nav shale-v1-nav" style="position: fixed;">
			</menu>
		</div>

		<template id="taskbar-item-template" style="display: none;">
			<li class="taskbar-list-item">
				<button class="shale-v1-menu-bar-button taskbar-item">
					<span class="shale-v1-header-text">Title</span>
				</button>
			</li>
		</template>

		<template id="window-template" style="display: none;">
			<section class="window" role="dialog" aria-modal="true">
				<header class="titlebar shale-v1-header">
					<h2 class="titlebar-title shale-v1-header-text">Title</h2>
					<menu class="shale-v1-caption-menu buttons">
						<li class="caption-button" aria-label="minimize">
							<button class="shale-v1-caption-button minimize">
								<svg class="shale-v1-icon"><use xlink:href="#icon-minimize"></use></svg>
							</button>
						</li>
						<li class="caption-button" aria-label="maximize">
							<button class="shale-v1-caption-button maximize">
								<svg class="shale-v1-icon"><use xlink:href="#icon-maximize"></use></svg>
							</button>
						</li>
						<li class="caption-button" aria-label="close">
							<button class="shale-v1-caption-button close">
								<svg class="shale-v1-icon"><use xlink:href="#icon-close"></use></svg>
							</button>
						</li>
					</menu>
				</header>
				<div class="content">
					<iframe tabindex="0" style="border: 0; width: 100%; height: 100%;" src="about:blank"></iframe>
				</div>
			</section>
		</template>

		<script src="assets/desktop.js" defer></script>
	</body>
</html>
